.site-footer {
  background-color: #ABA0A4;
  padding: 15px 30px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #423D41;
}

.footer-left {
  font-size: 14px;
  color: #333;
}

.footer-right a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 22px;
  transition: color 0.3s ease;
}

.footer-right a:hover {
  color: #F2F2F2;
}
.logout-icon i {
    font-size: 20px;
}