@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap');
body {
    background-color: #fbecec;
    font-family: serif;
    padding: 0;
    height: 100vh;
    max-width: 1900px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
.header-container {
    background-color: white;
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    
}

.nav-container {
    display: flex;
    gap: 40px;
}

.nav-item {
    text-decoration: none;
    color: #333;
}

.nav-item:hover {
    color: #e83a7d;
}

/* Main Content */
.main-container {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
}

.content {
	width: 60%;
    padding-right: 30px;   
}

.image{
	display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 4;
    
	
}
.image1 {
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image2 {
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.image3 {
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.image4 {
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.image5 {
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.image6 {
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.image1 img, .image2 img, .image3 img ,.image4 img, .image5 img, .image6 img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.5s ease;
}

/* Hover effects */
.image1:hover, .image2:hover, .image3:hover, .image4:hover, .image5:hover,.image6:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


image1 img:hov, image2 img:hov, image3 img:hov, hero-image4 img:hov,image5 img:hov, image6 img:hov  {
	background-color: #f7fbfc;
	
}

/* Footer */
.footer-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-link {
    color: white;
    margin: 0 10px;
}
